p
{
    color: aqua;
    background-color:lemonchiffon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 2.5;
    border-style: inset;
    border-color: indigo;
    border-width: 10px;
    padding:20px;
    margin-top: 120px;
 }
 body
 {
    background-image: url("../HTML/images/friends.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50px 100px;
    background-position: center;
    
   

 }
 div
 {
     margin: 10px;
     padding: 50px;
 }
 table
 { border:2px solid black;
   padding: 10px;
}
 tr
 {
     background-color: indigo;
     width: 20%;
 }
 td{
     color: lawngreen;
     background-color: black;
 }
 th{
     color:red;
     background-color: wheat;
 }
 span
 {
     color: blue;
     font-size: x-large;
     font-style: italic;
 }
 #para1
 {
     color:blueviolet
 }
 .rela
 {
     position: relative;
     top:10px;
     left: 100px;
     color:darkblue
 }
 .relabs
 {
     position: relative;
     top: 40px;
     left: 69px;
     color:darkblue;
     border:2px solid black;
     width:fit-content;
     height: fit-content;
   

 }
 .fixedPos
 {
     position: fixed;
     color: cornflowerblue;
     border:2px dotted crimson;
     top:0px;
     left:10px
 }
 .abso
 {
     position: absolute;
     top:20px;
     left: 100px;
     color: lightseagreen
 }
 .classpara
 {
     color: brown;
     padding: 10px;
     border: darkblue;
     font-size: large;
 }
 div h4
 {
     color:chocolate;
    
     font-size: large;
     font-weight: bolder;
     border: cornflowerblue;
     border-width: medium;
 }
 body > h4
 {
     color:crimson;
     font-size: large;
     font-weight: bolder;
     border: cornflowerblue;
     border-width: medium;

 }
 
 a:link
 {
     color:blue
 }
 a:hover{
     color:chartreuse
 }
 a:visited
 {
     color:red
 }
 a:active{
     color:darkviolet
 }